Body{
    background-color: dodgerblue;
    color: cornsilk;
    background-image: url("/img/Firma_de_Ariana_Grande.png")
    background-repeat:no-reapeat;
    
}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                